

.footer{
    height: 2.5rem;
}

.user-name{
    text-decoration: none;
    color: black;
}

.user-name:hover , .user-name:active{
    text-decoration: none;
    color: black;
}

.user-info-container{
    font-size: 0.85rem;
}

.cursor-pointer{
    cursor: pointer;
}
