.image-container{
    background-color: rgba(0,0,0,.03);
}
.user-avatar{
    height: 15rem;
}
.footer{
    height: 2.5rem;
}

.user-name{
    text-decoration: none;
    color: black;
}

.user-name:hover , .user-name:active{
    text-decoration: none;
    color: black;
}

.user-info-container{
    font-size: 0.85rem;
}

.cursor-pointer{
    cursor: pointer;
}

.sub-heading{
    color: #33addf
}